<nav class="navbar bg-light">
  <div class="container">
      <%= link_to restaurants_path, class: "nav-link" do %>
        <i class="fa-brands fa-yelp"></i> YelpMvp
      <% end %>
    <ul class="navbar-nav flex-row">
      <li class="nav-item ms-4">
        <%= link_to "Home", restaurants_path, class: "nav-link" %>
      </li>
      <li class="nav-item ms-4">
        <%= link_to "New Restaurant", new_restaurant_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>